* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Pale-Violet: hsl(276, 100%, 81%);
  --Moderate-Violet: hsl(276, 55%, 52%);
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  --Grayish-Blue: hsl(206, 6%, 79%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);
  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}
body {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Rubik;
}
.right-background {
  width: 300px;
  height: 80%;
  z-index: -1;
  background: red;
  position: absolute;
  right:0;
  bottom: 0;
  border-radius: 45% 45% 0 0;
}
.left-background {
  width: 25%;
  height: 80%;
  z-index: -1;
  background: #000;
  position: absolute;
  left: 0;
  top:0;
  background: linear-gradient(
    to top,
    var(--Light-Violet),
    var(--Light-Magenta)
  );
  border-radius: 0 0 500px 10px;
}
.right {
  width: 30px;
  background: var();
}
div {
  /* border: 1px solid #000; */
}
.pouch {
  width: 330px;
  border-radius: 30px;
  padding: 10px;
  position: relative;
  background: var(--White);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.camera {
    border-radius: 0 0 15px 15px;
    width: 200px;
    height: 20px;
    background-color: var(--White);
    position: absolute;
    left: 70px;
}
.nav {
  background: linear-gradient(
    to right,
    var(--Light-Violet),
    var(--Light-Magenta)
  );
  padding: 10px;
  padding-top: 30px;
  border-radius: 0 0 5px 5px;
  color: var(--White);
  display: flex;
  align-items: center;
}
.nav>div{
  display: inline-block;
}
.nav>img{
  width: 30px;
  border-radius: 20px;
  border: 2px solid var(--White);
}
div:nth-of-type(2)>span{
  display: block;
}
.nav>div:nth-last-of-type(1){
  display: flex;
  align-self: flex-end;
}
.nav>div{
}
.screen {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background: var(--Light-Grayish-Violet);
  overflow: hidden;
}
.center {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-top: 100px;

}
.simple-booking {
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
label {
  display: flex;
  align-items: center;
  width: 80%;
  align-self: flex-start;
  border-radius: 10px 10px 10px 0;
  padding: 10px;
  /* border: 1px solid #000; */
  margin: 5px;
  background: linear-gradient(
    to left,
    var(--Light-Violet),
    var(--Light-Magenta)
  );
}
.right-chat1 > img {
  border-radius: 10px;
  width: 60px;
}
.left-chat1,
.left-chat2,
.left-chat3 {
  width: 65%;
  align-self: flex-start;
  border-radius: 10px 10px 10px 0;
  padding: 5px;
  margin: 5px;
  color: var(--Moderate-Violet);
  background: var(--Pale-Violet);
}
.right-chat1,
.right-chat2,
.right-chat3 {
  max-width: 65%;
  align-self: flex-end;
  border-radius: 10px 10px 0 10px;
  padding: 5px;
  margin: 5px;
  color: var(--Desaturated-Dark-Violet);
  background: var(--White);
}
.right-chat1 {
  display: flex;
  justify-content: space-between;
  min-width: 70%;
  background: none;
}
.head {
  color: var(--Very-Dark-Desaturated-Violet);
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
}
.body {
  color: var(--Dark-Grayish-Violet);
}
.input {
  margin: 10px;
  width: 300px;
  height: 40px;
  border-radius: 30px;
  overflow: hidden;
}
.input > input {
  width: 90%;
  height: 100%;
}
